.icon {
    padding: 0 14px;
    }
  
.spacer {
    flex: 1 auto;
    }
  
@media screen and (max-width: 600px){
    .mat-toolbar {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 25px 0 200px 0;
    }
}
    