.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }

.todolist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }